.App{
    background-image: url('../public/img.jpg');
    background-size: cover;
    min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.box {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.btns{
    border: 2px solid black;
    border-radius: 50px;
    padding: 8px 70px;
    color:black;
   background-color: transparent;
}
.btns:hover{
    color:white;
    transform: scaleX(1.02);
}